includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
            reportUnmatched: false
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository::findOneBy#'
